<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps+Lora" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar">
    <a class="navbar-brand head" href="/" id="album"><img src="/static/photos/logo.jpeg" class="img-responsive" style="width:120px;height: 60px;">&nbsp;<b style="color: yellowgreen;">E-album</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown dropdown">
                <a class="nav-link dropdown-toggle locations" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ece3d1;">
          Locations&nbsp;<i class="fas fa-map-marker-alt"></i> 
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:rgb(32, 32, 32)">
                    <a class="dropdown-item" href="/location/1">Nairobi</a>
                    <a class="dropdown-item" href="/location/4">London</a>
                    <a class="dropdown-item" href="/location/2">Sydney</a>
                    <a class="dropdown-item" href="/location/3">Paris</a>

                </div>
            </li>&nbsp; &nbsp;
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle categories" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ece3d1;">
          Categories
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:rgb(32, 32, 32)">
                    <a class="dropdown-item" href="/category/2">Wild</a>
                    <a class="dropdown-item" href="/category/1">Cities</a>
                    <a class="dropdown-item" href="/category/3">Tech</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-2 md-2 navbar-right">
        <div class="nav-item ">
            <a class="nav-link about" href="admin" id="navbar" role="button" aria-haspopup="true" aria-expanded="false" style="color:#ece3d1;">
      Admin
    </a>
        </div>



</nav>

<style>
    @import url('https://fonts.googleapis.com/css?family=Nunito|Oleo+Script+Swash+Caps');
    .navbar {
        font-family: 'Lora', serif;
        width: 100%;
        font-size: 20px;
        position: fixed;
        z-index: 1;
    }
    
    #album {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 30px;
    }
    
    .dropdown-item {
        color: #ece3d1;
    }
    
    .head {
        color: #ece3d1 !important;
    }
    
    .head:hover {
        color: green !important;
    }
    
    .categories:hover {
        color: green !important;
    }
    
    .locations:hover {
        color: green !important;
    }
</style>
